body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.title-box {
    background-color: gray;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 80%;
}

.title-box h1 {
    margin: 0;
}

.title-box p {
    margin-top: 20px;
}